<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>example</title>
    </head>
    
    <body>
        <section>
            <h1 style="text-align:center">Hello<br> {{ nom | raw }}</h1>
        </section>
    </body>
</html>