<!DOCTYPE html>
<!-- Template Twig -->

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Templates, données, état</title>
    </head>
    
    <body>
        <section>
            <!-- Persistance - Query String -->
            <!-- Question 2 -->
            <h1 style="text-align:center">Good bye {{ nom }} !</h1>
        </section>
    </body>
</html>