<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>TD5</title>
</head>
<body>
    <section>
        <div id="log">
            <form action="/" method="post" id="formLog">
                <fieldset>
{% if error == -8 %}
                <p>Pseudo ou mot de passe invalide.</p>
{% endif %}
                    <label for="login">Username </label>
                    <input type="text" name="login" id="login" class="login" required />
                    <label for="pass">Password </label>
                    <input type="password" name="pass" id="pass" class="pass" required />
                    <input type="submit" value="Log in"/>
                </fieldset>
            </form>
        </div>
    </section>
</body>
</html>