<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>TD5</title>
        <style>
            table {
                border-collapse: collapse;   
            }
            td {
                border : solid 1px black;
            }
        </style>
    </head>
    <body>
        <section>
            <table id='myTable'>
                <thead>
                    <tr id='myTr'>
                        <td>pseudo</td>
                        <td id='myTd'>parties</td>
                        <td>gagnées</td>
                        <td>couleur préférée</td>
                    </tr>
                </thead>
                <tbody>
{% for i in range(0,userlist.length-1) %}
                    <tr>
                        <td>{{ userlist[i].login }}</td>
                        <td>{{ userlist[i].parties }}</td>
                        <td>{{ userlist[i].gagnees }}</td>
                        <td><span style="display: inline-block; width: 60px; height: 20px;
                        background-color: {{ userlist[i].couleur1 }};"></span></td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
            <input type="button" name="refresh" id="refresh" value="Refresh" />
            <a href="/logout">Déconnexion</a>
        </section>
        <script>
            let i = document.querySelector('#refresh');
            let tb = document.querySelector('tbody');
            i.onclick = function() {
                var xhr = new XMLHttpRequest();
                xhr.responseType = 'json';
                xhr.open('GET','/api/userlist');
                xhr.onload = function(e) {
                    console.log('Successfull');
                    /* pseudo-code
                    création 1 tr et 1 td
                    boucle sur le nb de user
                        boucle sur le nb d'attributs
                            ajout attribut à td
                            ajout td à tr
                        fin boucle
                        ajout tr à tb
                    fin boucle
                    maj tb auto ???
                    */
                    let tr = document.createElement('tr');
                    let td = document.createElement('td');
                    let tn;
                    let t;
                    for (var i=0 ; i<xhr.response.length ; i++) {    // loop on user
                        for (var j=0 ; j<xhr.response[i].length ; j++) {    // loop on attributs
                            t = xhr.response[i][j];
                            tn = document.createTextNode(t);
                            td.appendChild(tn);
                            tr.appendChild(td);
                        }
                        tb.appendChild(tr);
                    }
                }
                xhr.onerror = function(e) {
                    console.log('Fail');
                }
                xhr.onabort = function(e) {
                    console.log('Cancel by user');
                }
                xhr.onprogress = function(e) {
                    console.log('Download...');
                }
                xhr.send();
            }
        </script>
    </body>
</html>